html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body, #body_username {
    background-color: #efeeef;
    clear: both;
	padding-bottom: 5vh;
}

.main-content {
	padding-top: 1vh;
    padding-left: 10px;
}

header .content-wrapper {
    padding-top: 20px;
}

footer {
	display: flex;
    background-color: #e2e2e2;
    font-size: .8em;
	justify-content: center;
}


/* site title
----------------------------------------------------------*/
.site-title a, .site-title a:hover, .site-title a:active
{
	background: none;
    color: #999;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

/* menu
----------------------------------------------------------*/
ul#menu {
	display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
	display: inline;
	list-style: none;
	padding-left: 15px;
}

ul#menu li a {
	background: none;
	color: #999;
	text-decoration: none;
}

ul#menu li a:hover {
	color: #333;
	text-decoration: none;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* forms */
    input {
        width: 90%;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

/* custom css */
#chatroom {
    border: 1px solid gray;
	flex: 90%;
    padding: 10px;
    overflow: auto;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.chat-container {
	display: flex;
	flex-direction: row;
	height: 50vh;
	flex: 1;
	background-color: #ededed;
}

#chatusers {
	
	flex: 15%;
	min-width: 100px;
	border: 1px solid gray;
	border-left: 0;
	overflow-y: auto;
}

#chatusers span {
	display: block;
	padding: 5px;
}

#chatbar {
	display: flex;
	flex: 100%;
	
}

#chatbar input {
	width: 100%;
	margin: 0;
	border: 1px solid gray;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

#divButtonRemoveChatroom {
    text-align: center;
    font-size: 0.8em;
}

.labelIndex {
    font-weight: normal;
    display: inline;
    font-size: 1.0em;
}

#divRemovePassword {
    display: none;
}